---
name: CI Checks

on:
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6.2.0
        with:
          go-version-file: v2/go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@17a5bf4dbccfb8aaa79fcf5aba4f74a011909ec7
        with:
          version: v2.1
          working-directory: v2
      - name: run tests
        run: make covcheck
